{% extends 'base.html' %}

{% block title %}
    <title>Available Products</title>
{% endblock %}

{% block content %}
    {% url 'products:all_products' as pagination_url %}
    {% include 'pagination.html' with pagination=paginated_products url=pagination_url %}
    <ul class="products-container">
        {% for product in paginated_products %}
            <li>
                <img src="{{ product.image_url }}" width="100%" />
                <a href="{% url 'products:product_details' product.id %}">
                    <p>{{ product.name | truncatechars:200 }}</p>
                </a>
                <div class="product-data">
                    <p class="price">{{ product.price }} RON</p>
                    <form method="post" action="{% url 'orders:add_to_cart' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'products:all_products' %}" />
                        <input type="submit" value="Add to cart" />
                    </form>
                </div>
            </li>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </ul>
    {% include 'pagination.html' with pagination=paginated_products url=pagination_url %}
{% endblock %}
