{% extends 'base.html' %}

{% block title %}
    <title>Available Products</title>
{% endblock %}

{% block content %}
    <ul class="products-container">
        {% for product in products %}
            <li>
                <img src="{{ product.image_url }}" width="100%" />
                {% comment %}<a href="/products/{{ product.id }}">{% endcomment %}
                <a href="{% url 'products:product_details' product.id %}">
                    <p>{{ product.name | truncatechars:200 }}</p>
                </a>
                <div class="product-data">
                    <p class="price">{{ product.price }} RON</p>
                    <button>Add to cart</button>
                </div>
            </li>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </ul>
{% endblock %}
