{% extends 'base.html' %}
{% load orders %}

{% block content %}
    <form method="post" action="{% url 'orders:update_cart' %}">
        {% csrf_token %}
        <table style="width: 100%;">
            <thead>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price per item</th>
                <th>Total price</th>
            </thead>
            <tbody>
                {% for field in form %}
                    {% cart_form_data form forloop.counter0 as product_details %}
                    <tr>
                        <td>{{ field.label | truncatechars:50 }}</td>
                        <td>{{ field }}</td>
                        <td>{{ product_details.price_per_item }} RON</td>
                        <td>{{ product_details.total_price }} RON</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Update cart" />
    </form>
    <p style="font-weight: bold">
        Total price: {% total_price form %} RON
    </p>
    <a href="{% url 'orders:checkout' %}">Go to checkout</a>
{% endblock %}
