<nav>
    <a href="{% url 'homepage' %}">Homepage</a>
    <a href="{% url 'products:all_categories' %}">Categories</a>
    <a href="{% url 'products:all_products' %}">Products</a>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout" />
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a>
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</nav>