{% load orders %}

{% cart_data as cart_data %}

<nav>
    <a href="{% url 'homepage' %}">Homepage</a>
    <a href="{% url 'products:all_categories' %}">Categories</a>
    <a href="{% url 'products:all_products' %}">Products</a>
    {% comment %}<a href="{% url 'orders:cart' %}">Cart ({{ request.session.cart | total_products }})</a>{% endcomment %}
    <a href="{% url 'orders:cart' %}" title="{{ cart_data.total_amount }}">Cart ({{ cart_data.total_products }})</a>
    {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}">Profile</a>
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout" />
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a>
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</nav>